<%= form_for :import, url: imports_path do |f| %>
  <%= f.file_field :file %>
  <%= f.submit 'Import' %>
<% end %>

<div id="line-chart">
<%= line_chart @import, library: {backgroundColor: "#1f1f24"}, colors: ['46cefb', 'ff3a97'] if @import %>
</div>
